[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-telegram-bot = "==13.15"
pillow = "*"
djangorestframework = "*"
django-jazzmin = "*"
django-cors-headers = "*"
celery = "*"
django-celery-beat = "*"
redis = "*"
python-decouple = "*"
requests = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"

[requires]
python_version = "3.8"
